.container {
   background-color: @bg_color;

   .headerImg {
      height: 50vh;
      background: url(../images/bike.jpg) blue;
      background-position: center;
      background-size: 100%;
   }
}

.pitch {
   // border: 1px solid red;
   width: 40%;
   height: 100%;
   color: white;
   background-color: rgba(60, 179, 113, 0.75);

   .flex(@justify: space-around, @direction: column);
   align-items: center;

   .pitchContent {
      // border: 1px solid white;
      // background-color: rgba(60, 179, 113, 0.5);
      border-radius: 50rem;
      height: 40%;
      width: 75%;
      p {
         text-align: center;
         font-size: 4rem;
      }
   }

   .cta {
      width: 55%;
      height: 15%;
      font-size: 3rem;
      background-color: @bg_color;
      border: 5px solid white;
      border-radius: 30rem;
      .flex();
      align-items: center;

      &:hover {
         background-color: @hover_bg_color;
         color: black;
      }
   }
}

.possibilities {
   // border: 1px solid red;
   .flex(@direction: column);
   background-color: white;

   .possTitle {
      margin-top: 8rem;
      .flex();
      width: 100%;
      text-decoration: underline;
   }
   .possContent {
      .flex(@justify: space-around);
      // border: 1px solid blue;
      width: 100%;
      margin: 3rem 0;
      height: 40rem;
      background: lightyellow;

      img {
         // border: 1px solid red;
         width: 45%;
         .flex();
      }
      .possDescription {
         // border: 1px solid pink;
         width: 35%;
         .flex(@justify: space-evenly, @direction:column);

         p {
            height: 10rem;
            border-top: 2px solid lightgrey;
            border-bottom: 2px solid lightgrey;
            font-size: 2.5rem;
            .flex();
            align-items: center;
            text-align: center;
         }
      }
   }
   .miscItems {
      flex-direction: row-reverse;
   }
}
