@bg_color: @green;
@hover_bg_color: @aqua;
@hover_color: @black;


@green: rgb(60,179,113);
@aqua: aqua;
@black: black;

@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";
@bigMobile: ~"(max-width: 600px)";